.container-row {
    display: flex;
    justify-content: space-between;
    position:absolute;
    margin-left: 20%;
    margin-top: 10%;
}

.container1 {
    width: 180px;
    height: 165px;
    background-color: rgb(244, 249, 252);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 6px;
}

.small-text {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
}

.big-text {
    color: black;
    font-size: 36px;
    font-weight: bold;
    align-self: flex-start;
}

.circle1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    color: gray;
    position: relative;
  }
  
  .circle1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 3px solid aquamarine; 
    border-right: 3px solid aquamarine; 
    border-radius: 50%;
  }

.circle-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.arrow-container {
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
}


.container-small{
    width: 30px;
    height: 165px;
    background-color: #746CFF;
    border-radius: 4px;
}

.space {
  margin-right: 10px; 
}