.sidebar {
    width: 238px;
    height: 700px;
    background-color: #746CFF;
    padding-top: 3%;
    margin-top: -8%; /* Adjust as needed */
}

.profile-pic {
    width: 91px;
    height: 91px;
    /* Adjust positioning properties as needed */
}

.line {
    width: 161px;
    height: 18px;
    /* Adjust positioning properties as needed */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.hover-light-white:hover {
    background-color: #f8f9fa !important;
    color: black !important;
}
